$font-family: Calibri, serif;
$font-size: 16px;

body {
	overflow: hidden;
}

#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-image: url('./../img/background.jpg');

	font-family: $font-family;
	font-size: $font-size;
}

.game-wrapper {
	background-color: #9C9C9C;
	background-blend-mode: multiply;
}

#game {
	border: 5px solid #fff;
	background-color: #000;

	position: relative;
	right: -80%;

	transition: all 1.2s;
}

#logout {
	clear: both;
	position: relative;
	top: 10px;
	padding-left: 15%;
}

#logout > a {
	border: 1px solid #fff;
	background-color: #000;
	border-radius: 5px;
	
	padding: 10px;

	color: #fff;
	text-decoration: none;
	font-weight: 600;
}

#logout > a:hover {
	background-color: #393939;
}

#playerNameInput {
	display: -ms-flexbox;

	display: -webkit-flex;

	display: flex;
	-ms-flex-align: center;
	    -webkit-align-items: center;
	        align-items: center;

	height: 225px;

	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	background-color: #31475A;

	font-weight: 600;
	font-size: 28px;
	color: #fff;

	transition: all 0.8s;
}

#playerNameInput > div {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	    -webkit-justify-content: center;
	        justify-content: center;
	-ms-flex-align: center;
	    -webkit-align-items: center;
	        align-items: center;
}

#playerNameInput > div > input {
	width: 300px;
	padding: 0 5px 0 5px;

	color: #000;
}
